#-------------------------------------------------------------
# Command Directory
#-------------------------------------------------------------

alias lz='eza -lg --header --git --icons'
alias ll='ls -lah'

#-------------------------------------------------------------
# Bash
#-------------------------------------------------------------

alias reload='source ~/.zshrc'
alias grep='grep --color=auto'
alias occupy='du -cxh'
