# Alias Forgit
# https://github.com/wfxr/forgit?tab=readme-ov-file#shell-aliases

alias glo='forgit::log'
alias grl='forgit::reflog'
alias gd='forgit::diff'
alias gso='forgit::show'
alias ga='forgit::add'
alias grh='forgit::reset::head'
alias gi='forgit::ignore'
alias gat='forgit::attributes'
alias gcf='forgit::checkout::file'
alias gcb='forgit::checkout::branch'
alias gbd='forgit::branch::delete'
alias gct='forgit::checkout::tag'
alias gco='forgit::checkout::commit'
alias grc='forgit::revert::commit'
alias gclean='forgit::clean'
alias gss='forgit::stash::show'
alias gsp='forgit::stash::push'
alias gcp='forgit::cherry::pick'
alias grb='forgit::rebase'
alias gbl='forgit::blame'
alias gfu='forgit::fixup'
alias gsq='forgit::squash'
alias grw='forgit::reword'

